body 	{
  text-align: center;
  background: #f4f5f9;
  color: #181842;
  font-family: 'Titillium Web', sans-serif;
    		}
h1	{
	color: #181842;
	text-align: left;
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	font-variant: small-caps;
		}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  border-radius: 10px;
	background-color: #f1404b;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
		}
li	{
	float: left;
		}
li a 	{
  display: block;
  color: #f4f5f9;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  border-radius: 10px;
		  }
li a:hover {
	background-color: #181842;
	color: #f1404b;
  border-radius: 10px;
		  }
li a.active {
  background-color: #f8ca00;
  color: #181842;
  border-radius: 10px;
		}
input	{
	border: 0;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	border-radius: 15px;
		}
input[type="text"] {
	background: #dadbdb;
	color: #fffaf0;
		}
input[type="email"] {
	background: #dadbdb;
	color: #fffaf0;
		}
input[type="tel"] {
	background: #dadbdb;
	color: #fffaf0;
		}
input[type="submit"] {
	background: #3ac569;
	color: #181842;
		}
footer	{
	font-size: 14px;
	font-style: italic;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
		}
